.buttonWrapper {

}
.customButton{
    outline: none;
    position: relative;
    overflow: none;
    border-width: 0px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.customButton-disabled{
    outline: none;
    position: relative;
    overflow: none;
    border-width: 0px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    opacity: 0.7;
}

/* .disabling-element {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.362);
    width: 100%;
    height: 100%;
    z-index: 101;
} */

.customButton:hover {
    opacity: 0.8;
}

.defualtButton {
    background-color: rgb(15, 147, 255);
    color: rgb(15, 147, 255);
    border-color: rgb(15, 147, 255);
}

.secondaryButton {
    background-color: rgb(218, 47, 47);
    color: rgb(218, 47, 47);
    border-color: rgb(218, 47, 47);
}

.darkButton {
    background-color: rgb(22, 22, 22);
    color: rgb(22, 22, 22);
    border-color: rgb(22, 22, 22);
}

.smallRounded{
    border-radius: 2px;
}

.mediumRounded {
    border-radius: 5px;
}

.largeRounded {
    border-radius: 7px;
}

.extralargeRounded {
    border-radius: 1000px;
}

.filled {
    color: rgb(252, 252, 252) !important;
}

.outlined {
    border: auto;
    background-color: transparent;
    border-width: 2px;
}


.btn-normal {

}

.btn-large {
    font-size: 1.2rem;
    padding: 0.7rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;

}